.love {
 display:inline-block;
 position:relative;
 top:.2em;
 font-size:1.4em;
 color:#00FFFF;
 transform:scale(.9);
 animation:love .5s linear infinite alternate-reverse;
}

@keyframes love {
 to {
  transform:scale(1.1)
 }
}
